body {
    background-color: #FAFAFA;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #4A4A4A;
}

h1 {
    font-size: 75px;
    text-align: center;
    color: #333333;
}

h2 {
    font-size: 50px;
    color: #4F4F4F;
}

h1, h2 {
    font-family: Georgia, "Times New Roman", serif;
}

.page-links {
    font-size: 50px;
    font-family: Georgia, "Times New Roman", serif;
}