body {
    background-color: #FAFAFA;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #4A4A4A;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #333333;
}

h2 {
    color: #4F4F4F;
}

h1, h2, .page-links {
    font-family: Georgia, "Times New Roman", serif;
}

h2, .page-links {
    font-size: 50px;
}

.page-links a {
    display: block;
}

.page-links li {
    width: 65%;
    color: #4A4A4A;
    font-weight: bold;
    height: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    display: block;
    border: 5px solid black;
}